@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --bg-red: #e70914;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    background-color: black;
}

html,
body {
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
svg {
    color: white;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.j-between {
    justify-content: space-between;
}

.j-center {
    justify-content: center;
}

.a-center {
    align-items: center;
}
