/* Card.module.css */
.container {
    max-width: 230px;
    width: 230px;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.outerImg {
    border-radius: 0.2rem;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.hover {
    z-index: 99;
    height: max-content;
    width: 20rem;
    position: absolute;
    top: -18vh;
    left: 0;
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    background-color: #181818;
    transition: 0.3s ease-in-out;
}

.imageVideoContainer {
    position: relative;
    height: 140px;
}

.imageVideoContainer .innerImg {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 0.3rem;
    top: 0;
    z-index: -1;
    position: absolute;
}

.video {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 0.3rem;
    top: 0;
    z-index: 100; /* Ensure the video appears above other elements */
    position: absolute; /* Ensure the video is positioned correctly */
}

.infoContainer {
    padding: 1rem;
    gap: 0.5rem;
}

.icons .controls {
    display: flex;
    gap: 1rem;
}

.icons svg {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.icons svg:hover {
    color: #b8b8b8;
}

.genres ul {
    gap: 1rem;
}

.genres li {
    padding-right: 0.7rem;
}

.genres li:first-of-type {
    list-style-type: none;
}
